body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
}
.home{
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
}
.home-logo {
    width: 45%;
    display: block;
    margin: auto;
    opacity: 1;
    padding-top: 30%;
}
.home-btnImg{
    width: 5%;
}
footer{
    margin-top: 3em;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(8, 1, 66);
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Thasadith';

}