body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
    padding: 0px;
}

/*Slides Settings--------------------------------*/
.login{
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
    background-image: url("../img/background/index-320x480.png");
    text-align: center;
}
.login-row{
    text-align: center;
    width: 80vw;
    padding-top: 10vh;
    margin: 0 10vw;
}
.login-left{
    background-color: white;
    opacity: 0.7;
    width: 80vw;
    height: 10vh;
    padding: 2vh;
    margin-bottom: 1vh;
}
.login-title{
    font-family: 'Thasadith', sans-serif;
    color: black;
    font-size: 2em;
    font-style: bold;
    text-align: center;
}
.login-paragrah{
    visibility: hidden;
    font-family: 'Poiret One', cursive;
    color: black;
    text-align: justify;
    margin: 0 1.5em 0 1.5em;
    font-style: bold;
}
.login-right{
  background-image: linear-gradient(to bottom, #0b0062, #00247b, #003f8f, #0059a0, #0073ae, #0081b4, #008fb8, #009cba, #00a2b6, #00a7b0, #00aca8, #27b09e);
  opacity: 0.98;
  width: 80vw;
  padding-bottom: 4vh;
}

/*Login Form---------------------------------*/
.login-form{
    font-family: 'Poiret One', cursive;
    padding: 0.5em 0em 1em;
    
}
.login-form > label{
    font-style: bold;
    font-size: 0.8em;
    letter-spacing: 0.09em;
    text-align: left;
}
.login-container > input[type=text], 
.login-container > input[type=password] {
  width: 85%;
  padding: 10px 10px;
  margin: 0px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  color:black;
  font-size: 0.7em;
  margin-bottom: 1em;

}
.login-container > button {
  background-color:#9ede11;
  color: black;
  padding: 10px 0px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 40%;
  font-size: 0.7em;
}
.login-container > button:hover {
  opacity: 0.8;
}
.imgcontainer {
  text-align: center;
  margin: 24px 0 24px 0;
}
.avatar {
  width: 25%;
}


/* -- Responsive --------------------------- */
@media screen and (min-width : 400px) {
  .login {
      background-image: url("../img/background/index-768x1024.png");
  }
}
@media screen and (min-width : 576px) {
  .login-row{
    padding-top: 20vh;
    margin-left: 3vw;
    width: 90vw;
  }
  .login-left{
    height: 50vh;
    margin-top: 5vh;
  }
  .login-paragrah{
    visibility: visible;
    font-size: 0.9em;
  }
}

@media screen and (min-width : 600px) {
  .login-row{
    margin-left: 0vw;
    width: 87vw;
  }
}
@media screen and (min-width : 650px) {
  .login-row{
    width: 80vw;
  }
}

@media screen and (min-width : 768px) {
  .login {
      background-image: url("../img/background/index-1024x768.png");
  }
  .login-row{
    margin-left: 5vw;
  }
}

@media screen and (min-width : 850px) {
  .login-row{
    margin-left: 1vw;
  }
}
@media screen and (min-width : 980px) {
  .login-row{
    width: 78vw;
  }
  .login-left{
    max-width: 90%;
  }
}

@media screen and (min-width : 1000px) {
  .login {
      background-image: url("../img/background/index-1680x1050.png");
  }

 
}
@media screen and (min-width : 1500px) {
  .login {
      background-image: url("../img/background/index-1920x1080.png");
  }
}
