body{
    margin: 0;
    padding: 0;
}
.container{
    text-align: center;
}

.welcome{
    background-repeat: no-repeat;
    background-size: cover !important;
    width: 100% !important;
    height: 100vh !important;
    background-image: url("../img/background/index-320x480.png");
}

.welcome-left {
    text-align: center;
    background-color:white;
    position: fixed;
    opacity: 0.8;
    height: 60vh;
    width: 70vw;
    z-index: 1;
    margin-top: 20vh;
    margin-bottom: 20vh;
    margin-left: 10vw;
}


/*Effect in image-------------------------------*/
.welcome-logo{
    margin-top: 2.5em;
    max-width: 70%;
    z-index: 5;
    animation: infinite bright 1.5s;
}
  @keyframes bright {
    0%,100%{
      opacity: 1;
    }
    50%{
        opacity: 0.75;    
    }
  
  }

/*Initial Button ---------------------------------*/
.welcome-btn{
    padding: 5em;
}
.welcome-btnImg{
    width: 10%;
}
.welcome-btnImg:hover{
    width: 11%;
}


/*Title effect------------------------------------*/
.welcome-effect{
    padding: 2.5em;
}

span{
    font-family: 'Aldrich', sans-serif;
    font-size: 0.9em;
    color: blue;
    opacity: 0.7;

}

/* -- Responsive ---------------------------------*/
@media screen and (min-width : 400px) {
    .welcome{
        background-image: url("../img/background/index-768x1024.png");
    }
    .welcome-left{
        width: 50vw;
    }
}
@media screen and (min-width : 550px) {
    .welcome-left {
        height: 66vh;
        width: 48vw;
        margin-top: 17vh;
        margin-bottom: 17vh;
        margin-left: 5vw;
    }
    .welcome-logo{
        max-width: 80%;
    }
    span{
        font-size: 1em;
    }
}

@media screen and (min-width : 600px) {
    .welcome-left {
        height: 70vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
        margin-left: 0vw;
        width: 43vw;
    }
    span{
        font-size: 1.1em;
    }
}
@media screen and (min-width : 700px) {
    .welcome-left {
        width: 40vw;
        margin-left: 0vw;
    }
}

@media screen and (min-width : 768px) {
    .welcome{
        background-image: url("../img/background/index-1024x768.png");
    }
    .welcome-left {
        margin-left: 0vw;
        width: 38vw;
    }
    .welcome-logo{
        max-width: 75%;
    }
    span{
        font-size: 1.2em;
    }
}

@media screen and (min-width : 900px) {
    .welcome-left {
        height: 76vh;
        margin-top: 12vh;
        margin-bottom: 12vh;
        margin-left: 0vw;
        width: 32vw;
    }
    .welcome-logo{
        max-width: 75%;
    }
    span{
        font-size: 1.3em;
    }
}


@media screen and (min-width : 1024px) {
    .welcome{
        background-image: url("../img/background/index-1680x1050.png");
    }
    .welcome-left {
        width: 25vw;
        margin-left: 5vw;
    }
    span{
        font-size: 1.4em;
    }
}
@media screen and (min-width : 1500px) {
    .welcome{
        background-image: url("../img/background/index-1920x1080.png");
    }
    .welcome-left {
        margin-left: 0vw;
        width: 22vw;
    }
    .welcome-logo{
        max-width: 70%;
    }
    span{
        font-size: 1.5em;
    }
}